<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control" [(ngModel)]="studentService.currentStudent.firstName">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control" [(ngModel)]="studentService.currentStudent.lastName">
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="Address" class="form-control" [(ngModel)]="studentService.currentStudent.address">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Class" class="form-control" [(ngModel)]="studentService.currentStudent.class">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control" [(ngModel)]="studentService.currentStudent.mobile">
    </div>
</div>
<div class="row">
    <button class="btn btn-success" (click)="createStudent(studentService.currentStudent)">Save</button>
</div>