<div class="contain_page">
    <div class="container">
        <div class="row contain_page2 d-flex">
            <div class="col-md-6 col-sm-12 text-white heading_page">
                <h1 class="display-3 text-warning font-weight-bold">Nimap Infotech</h1>
                <p>
                    There are many variations of passages of Lorem Ipsum available, 
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable.
                </p>
                <button class="btn btn-outline-warning ">Explore Now !</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <app-form-validation-component></app-form-validation-component>
</div>
<div class="container">
    <h2 class="text-center mt-5">Use Json Server</h2>
    <div class="row text-center">
        <div class="col-md-6">
            <app-studentscomponent>ff</app-studentscomponent>
        </div>
        <div class="col-md-6">
            <app-studentslistcomponent></app-studentslistcomponent>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h2 class="text-warning font-weight-bold text-center text-capitalize">
        Services
    </h2>
    <hr class="mb-4">

    <div class="row ">
        <div class="col-md-4 col-sm-12">
             <!-- Card -->
<div class="card card-image"
style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="text-warning"><i class="fa fa-pie-chart"></i> Marketing</h5>
    <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
      Odit sed qui, dolorum!.</p>
    <a class="btn btn-outline-warning"><i class="fa fa-clone left"></i> View project</a>
  </div>
</div>

</div>
<!-- Card -->   
        </div>
        <div class="col-md-4 col-sm-12">
               <!-- Card -->
<div class="card card-image"
style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg);">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="text-warning"><i class="fa fa-laptop"></i>Software</h5>
    <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
      Odit sed qui, dolorum!.</p>
    <a class="btn btn-outline-warning"><i class="fa fa-clone left"></i> View project</a>
  </div>
</div>

</div>
<!-- Card --> 
        </div>
        <div class="col-md-4 col-sm-12">
             <!-- Card -->
<div class="card card-image"
style="background-image: url(https://www.techuz.com/blog/wp-content/uploads/2018/10/Web-application-vs-website.jpg);">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="text-warning"><i class="fa fa-check-circle-o"></i>Web Application</h5>
    <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
      Odit sed qui, dolorum!.</p>
    <a class="btn btn-outline-warning"><i class="fa fa-clone left"></i> View project</a>
  </div>
</div>

</div>
<!-- Card -->   
        </div>
    </div>
</div>


<div class="container mb-4">
    <h2 class="text-center font-weight-bold text-warning text-capitalize">
        testimonial
    </h2>
    <hr class="mb-4">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Background color -->
                <div class="card-up"></div>
            
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
                    alt="woman avatar">
                </div>
            
                <!-- Content -->
                <div class="card-body">
                <!-- Name -->
                <h4 class="card-title text-center text-warning mt-4">Anna Doe</h4>
                <hr>
                <!-- Quotation -->
                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                </p>
                </div>
            
            </div>
            <!-- Card -->
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card testimonial-card">

                <!-- Background color -->
                <div class="card-up"></div>
            
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                <img src="./../../../assets/image/img.jpg" class="rounded-circle"
                    alt="woman avatar">
                </div>
            
                <!-- Content -->
                <div class="card-body">
                <!-- Name -->
                <h4 class="card-title text-center text-warning mt-4">Jhony lee</h4>
                <hr>
                <!-- Quotation -->
                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                </p>
                </div>
            
            </div>
            <!-- Card -->
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card testimonial-card">

                <!-- Background color -->
                <div class="card-up"></div>
            
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                <img src="./../../../assets/image/img1.jpg" class="rounded-circle"
                    alt="woman avatar">
                </div>
            
                <!-- Content -->
                <div class="card-body">
                <!-- Name -->
                <h4 class="card-title text-center text-warning mt-4">Anma Denny</h4>
                <hr>
                <!-- Quotation -->
                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                </p>
                </div>
            
            </div>
            <!-- Card -->
        </div>
    </div>
</div>


